.nav{
  width: 615px;
  margin: 50px auto;
}
.nav:after{
  clear: both;
  display: block;
  overflow: hidden;
  content: "";
}
.item{
  width: 200px;
  height: 100px;
  margin-right: 5px;
  float: left;
  perspective: 4000px;
}
.item a{
  display: block;
  height: 100px;
  text-decoration: none;
  
  transform-style: preserve-3d;
}
.item p{
  height: 100px;
  margin: 0;
  line-height: 100px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  
}
.item  p:first-child{
  background-color: rgb(80, 189, 223);
  transform: translateZ(50px);
}
.item  p:last-child{
  background-color: rgb(34, 87, 117);
  transform: translateZ(50px) rotateX(-90deg);
  margin-top: -51px;
}
.item a:hover{
  transition: all .5s;
  transform: rotateX(90deg);
}
.item a:hover p:last-child{
  transition: all .5s;
  margin-top: 0;
  transform:translateZ(0) rotateX(-90deg) ;
} 